
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1482744972373'); /* IE9*/
  src: url('iconfont.eot?t=1482744972373#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1482744972373') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1482744972373') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1482744972373#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-music:before { content: "\e651"; }

.icon-qq:before { content: "\e616"; }

.icon-erweima:before { content: "\e630"; }

.icon-atm:before { content: "\e6ba"; }

.icon-location:before { content: "\e8d4"; }

.icon-bubble:before { content: "\e8d6"; }

.icon-camera:before { content: "\e8d9"; }

.icon-music1:before { content: "\e8f0"; }

.icon-user:before { content: "\e900"; }

.icon-exit:before { content: "\e904"; }

.icon-user1:before { content: "\e90e"; }

.icon-renzhengyouxiang:before { content: "\e92e"; }

.icon-address:before { content: "\e939"; }

.icon-tel:before { content: "\e93a"; }

.icon-message:before { content: "\e957"; }

.icon-phone:before { content: "\e959"; }

.icon-shoujihaoma:before { content: "\e74f"; }

.icon-project:before { content: "\e60c"; }

.icon-pingjia:before { content: "\e6ae"; }

.icon-i-jineng:before { content: "\e6fe"; }

.icon-guanbiyinle:before { content: "\e65a"; }

.icon-xuexiao:before { content: "\e619"; }

.icon-experience:before { content: "\e672"; }

